.user-msg {
    display: flex;
    align-items: center;
  
    position: fixed;
    top: 5em;
    right: 5em;
    height: 100px;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.2em 0.5em;
    button {
   
      top: 2px;
      right: 4px;
     position: absolute;
      background-color: inherit;
      border-radius: 50%;
      font-size: 1.2em;
      border: 1px solid black;
    }
  }
  
  .user-msg.success {
    background-color: green;
    color: white;
  }
  
  .user-msg.error {
    background-color: $main-clr-1;
    color: white;
  }
  
  
  