.toy-edit{
    display: grid;
    height: auto;
    box-shadow: 0px 10px 16px hsl(0, 0%, 90%);
    padding: 10px;
    justify-content: center;
    
}
.toy-edit form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.toy-edit form input,button{
    width: fit-content;
}

.labels-container{
    width: 20vw;
}
.toy-edit .labels-container input[type="checkbox"]{
    width: 0;
        padding: 0;
        margin: 0;
}
.toy-edit .labels-container input[type="checkbox"]:checked + .edit-tag{

    background-color: var(--main-clr-1);
    color: white;
}
.edit-tag{
   margin-inline: 5px;
   padding-inline: 5px;

}
.toy-edit .labels-container legend{
    font-weight: bold;
}