.toy-edit{
    display: grid;
    height: auto;
    box-shadow: 0px 10px 16px hsl(0, 0%, 90%);
    padding: 10px;
    justify-content: center;
    width: 80%;
    justify-self: center;
    margin-top: 10px;
    
}
.toy-edit form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
}


.labels-container{
    width: 20vw;
    display: grid;
   
    padding: 0;
    gap: 5px;
}

.toy-edit  .price,.name{
    height: 4em;
    min-width: 150px;
    max-width: 20vw;
    padding-left: 5px;
    font-size: 1em;
    margin-left: 5px;
}

.toy-edit .labels-container input[type="checkbox"]{
    width: 0;
        padding: 0;
        margin: 0;
}
.toy-edit .labels-container label:has([type="checkbox"]:checked).edit-tag{

    background-color: var(--main-clr-1);
    color: white;
}
.edit-tag{
   margin-inline: 5px;
   padding-inline: 5px;
  text-align: center;

}
.toy-edit form label{
    font-weight: bold;
    margin-right: 5px;
}