.toy-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(137, 137, 137);
    border-radius: 10px;
}
.toy-filter form{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
}
.toy-filter form label{
    margin-right: 5px;
}