.toy-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 0;
}
.toy-list li{
    box-shadow: 0 5px 15px hsl(0, 0%, 80%);
    text-align: center;
    border-radius: 15px;
    transition: 300ms;
}
.toy-list:has(li:hover) > li:not(:hover){
    opacity: 0.6;
    scale: 0.8;
}